body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
}
#fahrenheit-textarea {
    width: 100%;
    min-height: 100px;
    margin: 0 10px 0 10px;
}
#celcius-textarea {
    width: 100%;
    min-height: 100px;
    margin: 0 10px 0 10px;
}
#result-textarea {
    width: 100%;
    min-height: 100px;
    margin: 0 10px 0 10px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 50px;
}